---
import { getAllPosts } from '@src/domain/content';
import { Image } from 'astro:assets';

export async function getStaticPaths() {
  const posts = await Astro.glob('/content/posts/*.md');
  return posts.map((p) => {
    return { params: { slug: p.frontmatter.slug }, props: { post: p } };
  });
}

const { slug } = Astro.params;
const { post } = Astro.props;
const { Content } = post;
---

<div>{slug}</div>
<article>
  <Image
    src={post.frontmatter.heroImg}
    alt={`${post.frontmatter.title} - Hero Image`}
    width={1600}
    height={900}
  />
  <Content />
</article>
