<body class="overflow-x-hidden">
  <div
    class="bg-black h-8 flex items-center px-2 text-white text-sm justify-center"
  >
    https://krimlabs.com has been migrated to https://shivekkhurana.com
  </div>
  <slot />
</body>
